#carousel-outer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
#carousel-container {
  height: 450px;
  width: 70%;
  /* margin: 0 auto; */
  /* margin-bottom: 2%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel-buttons-div {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 2%;
}

.carousel-button {
  margin-left: 1%;
  margin-right: 1%;
}
